{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add Coupon/Customer Relationship</h1>
            <form id="coupons_customersForm" action="/coupons_customers" method="post">
                <div class="form-group">
                    <label for="couponID">Coupon Promotion</label>
                    <select id="couponID" name="couponID" class="form-control">
                        {% for c in coupons %}
                            <option value="{{ c[0] }}">{{ c[1] }}</option>
                        {% endfor %}
                </div>
                
                <div class="form-group">
                    <label for="customerID">Customer Name</label>
                    <select id="customerID" name="customerID" class="form-control">
                        {% for c in customers %}
                            <option value="{{ c[0] }}">{{ c[1] }} {{ c[2] }}</option>
                        {% endfor %}
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <div id="coupons_customersTable">
        <h1 id="formTableTitle">Coupons/Customers Intersection Table</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Coupon Promotion</th>
                    <th scope="col">Customer Name</th>
                </tr>
            </thead>
            <tbody>
                {% for all r in rows %}
                    <tr>
                        <td> {{r[0]}} </td>
                        <td> {{r[1]}} {{r[2]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}