{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add/Update a Coupon</h1>
            <form id="couponsForm" action="" onsubmit="event.preventDefault();">
                <div class="form-group">
                    <label for="promotion">Promotion Name</label>
                    <input type="text" id="promotion" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="percentOff">Percent Off</label>
                    <input type="number" id="percentOff" class="form-control" min="1" required>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <div id="couponsTable">
        <h1 id="formTableTitle">Coupons</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Coupon ID</th>
                    <th scope="col">Promotion Name</th>
                    <th scope="col">Percent Off (%)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Birthday Bonus</td>
                    <td>20</td>
                    <td>
                        <button type="button" class="btn btn-warning">Edit</button>
                        <button type="button" class="btn btn-dark">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>July 4th Deals</td>
                    <td>25</td>
                    <td>
                        <button type="button" class="btn btn-warning">Edit</button>
                        <button type="button" class="btn btn-dark">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Leap Year Spectacular</td>
                    <td>29</td>
                    <td>
                        <button type="button" class="btn btn-warning">Edit</button>
                        <button type="button" class="btn btn-dark">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}