{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add a Customer</h1>
            <form id="customersForm" action="/customers" method="post">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="lname" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="signupDate">Sign Up Date</label>
                    <input type="date" name="signupDate" id="signupDate" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input type="date" name="birthdate" id="birthdate" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <div id="customersTable">
        <h1 id="formTableTitle">Customers</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Sign Up Date</th>
                    <th scope="col">Birthdate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                    <tr>
                        <th scope="row"> {{r[0]}} </th>
                        <td> {{r[1]}} </td>
                        <td> {{r[2]}} </td>
                        <td> {{r[3]}} </td>
                        <td> {{r[4]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}