{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add an Order/Product Relationship</h1>
            <form id="orders_productsForm" action="/orders_products" method="POST">
                <div class="form-group">
                    <label for="orderID">Order</label>
                    <select id="orderID" name="orderID" class="form-control">
                      <option selected disabled>Please choose an order...</option>
                      {% for o in orders %}
                          <option value="{{ o[0] }}">Order #{{ o[0] }}: Purchased by {{ o[1] }} {{ o[2] }} on {{ o[3] }}</option>
                      {% endfor %}
                  </select>
                </div>
                
                <div class="form-group">
                    <label for="productID">Product ID</label>
                    <select id="productID" name="productID" class="form-control">
                      <option selected disabled>Please choose a product...</option>
                      {% for p in products %}
                          <option value="{{ p[0] }}">{{ p[1] }}</option>
                      {% endfor %}
                  </select>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <div id="orders_productsTable">
        <h1 id="formTableTitle">Orders/Products Intersection Table</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Order ID (FK)</th>
                <th scope="col">Product ID (FK)</th>
              </tr>
            </thead>
            <tbody>
              
              {% for r in rows %}

                <tr>
                  <th scope="row">{{ r[0] }}</th>
                  <td>{{ r[1] }}</td>
                  <td>{{ r[2] }}</td>
                  <!-- <td>Order #{{ orders[r[1]-1][0] }}: Purchased by {{ orders[r[1]-1][1] }} {{ orders[r[1]-1][2] }} on {{ orders[r[1]-1][3] }}</td>
                  <td>{{ products[r[2]-1][1] }}</td> -->
                </tr>

              {% endfor %}

            </tbody>
          </table>
    </div>

{% endblock content %}