#orderInfo {
	width: 30%;
	margin: 0 auto;
}

#orderTitle {
	font-size: 30px;
	padding-bottom: 10px;
}

.table {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#orderTableTitle {
	font-size: 30px;
	padding-bottom: 10px;
	margin-left: 15%;
}
