{% extends "main.html" %}

{% block links %}

    <link rel="stylesheet" href="/static/css/index.css">

{% endblock %}

{% block content %}

    <!-- <div role="main" class="container">
        <h1 id="indexHeader">Overview</h1>
        
        <p>Each table in our schema has an associated page.</p>
        <ul>
            <li>
                Orders
                <ul>
                    <li>Order Date</li>
                    <li>Number of Products</li>
                    <li>Total Cost</li>
                    <li>Customer ID</li>
                    <li>Coupon ID</li>
                </ul>
            </li>

            <li>
                Products
                <ul>
                    <li>Item Name</li>
                    <li>Price</li>
                    <li>Quantity Available</li>
                </ul>
            </li>
        </ul>
    </div> -->

{% endblock content %}