{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add/Update an Order</h1>
            <form id="orderForm" method="POST" action="" >

                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.order_date.label(class="form-control-label") }}

                    {% if form.order_date.errors %}
                        {{ form.order_date(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.order_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.order_date(class="form-control")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.num_products.label(class="form-control-label") }}

                    {% if form.num_products.errors %}
                        {{ form.num_products(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.num_products.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.num_products(class="form-control")}}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.total_cost.label(class="form-control-label") }}

                    {% if form.total_cost.errors %}
                        {{ form.total_cost(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.total_cost.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.total_cost(class="form-control")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.customer_id.label(class="form-control-label") }}

                    {% if form.customer_id.errors %}
                        {{ form.customer_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_id(class="form-control")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.coupon_id.label(class="form-control-label") }}

                    {% if form.coupon_id.errors %}
                        {{ form.coupon_id(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.coupon_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.coupon_id(class="form-control")}}
                    {% endif %}
                </div>

                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>

    <div id="ordersTable">
        <h1 id="formTableTitle">Orders</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Order Date</th>
                <th scope="col">Number of Products</th>
                <th scope="col">Total Cost ($)</th>
                <th scope="col">Customer ID (FK)</th>
                <th scope="col">Coupon ID (FK)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>07/01/2020</td>
                <td>2</td>
                <td>34.99</td>
                <td>3</td>
                <td>1</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>07/11/2020</td>
                <td>1</td>
                <td>22.49</td>
                <td>1</td>
                <td>N/A</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>07/15/2020</td>
                <td>3</td>
                <td>57.48</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

{% endblock content %}