{% extends "main.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div id="formInfo">
            <h1 id="formTitle">Add/Update a Product</h1>
            <form id="productForm" method="POST" action="">

              {{ form.hidden_tag() }}
              
                <div class="form-group">
                  {{ form.item_name.label(class="form-control-label") }}

                  {% if form.item_name.errors %}
                      {{ form.item_name(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.item_name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.item_name(class="form-control")}}
                  {% endif %}
                </div>
                
                <div class="form-group">
                  {{ form.price.label(class="form-control-label") }}

                  {% if form.price.errors %}
                      {{ form.price(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.price.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.price(class="form-control")}}
                  {% endif %}
                </div>

                <div class="form-group">
                  {{ form.quantity.label(class="form-control-label") }}

                  {% if form.quantity.errors %}
                      {{ form.quantity(class="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.quantity.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.quantity(class="form-control")}}
                  {% endif %}
                </div>

                {{ form.submit(class="btn btn-success")}}
            </form>
        </div>
    </div>

    <div id="productsTable">
        <h1 id="formTableTitle">Products</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price ($)</th>
                <th scope="col">Quantity Available</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>The Way of Kings: Book One of The Stormlight Archive</td>
                <td>15</td>
                <td>10</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>A Game of Thrones: A Song of Ice and Fire, Book 1</td>
                <td>19.99</td>
                <td>13</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>A Short History of Nearly Everything</td>
                <td>22.49</td>
                <td>9</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

{% endblock content %}